.title {
	margin-bottom: 14px;
	font-size: 44px;
	line-height: 1.5;
}

.intro {
	display: flex;
	margin-bottom: 30px;
}

.desc {
	max-width: 86%;
	width: 100%;
	padding: 12px 8px;
	margin: 0 auto;
}

.desc p {
	font-size: 18px;
	line-height: 28px;
	text-align: center;
}

.contactTitle {
	font-size: 38px;
	margin-bottom: 14px;
}

.contactLink {
	display: inline-block;
	padding-bottom: 12px;
	font-size: 26px;
	transition: all 0.2s ease-in-out;
}

.contactLink:hover {
	text-decoration: none;
}
