.list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.listItem {
	margin: 4px 8px;
}

.btn {
	font-size: 18px;
	line-height: 1.25;
	padding: 4px 8px;
	cursor: pointer;
	border-radius: 4px;
	background-color: transparent;
	color: #efefef;
	border-color: #efefef;
}
