.btnExpander {
	padding: 4px 6px;
	border-radius: 6px;
	border: 1px solid var(--dark);
	cursor: pointer;
	font-size: 14px;
	line-height: 1.25;
	color: var(--dark);
	background-color: var(--light);

	transition: all 0.2s ease-in;
}

.btnExpander:hover {
	border: 1px solid var(--light);
	background-color: var(--dark);
	color: var(--light);
}
